body{
    background-image: url("https://www.xtrafondos.com/wallpapers/estrellas-de-la-via-lactea-4047.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 90%;
    background-attachment: fixed;
}


#img1{
    height: 500px;
}
#img2{
    height: 500px;
}
#img3{
    height: 500px;
}

#imgHomePeople{
    width: 250px;
    height: 250px;

}

#imgHomePlanets{
    width: 250px;
    height: 250px;

}

#card1{
    width: 900;
    margin-left: 200px;
    margin-right: 200px;
    opacity: 50%;
    text-decoration: black;
    
}

#card2{
    width: 900;
    margin-left: 200px;
    margin-right: 200px;
    
}

#card3{
    width: 900;
    margin-left: 200px;
    margin-right: 200px;
}