#cardplanets{
    width: 300px;
    height: 250px;
    margin-top: 30px;

}

#jumbotronPlanets{
    background-image: url(https://www.gamerfocus.co/wp-content/uploads/2019/11/planetas_fallen_order.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
    object-fit: fill;
    width: 100%;
    border-radius: 18px;
}

#overflowid2{
    overflow: "scroll";
    width: "1270px";
    height: auto;
    overflow-x:scroll;
    overflow-y:hidden;
}