#cardvehicles{
    width: 300px;
    height: 290px;
    margin-top: 30px;

}



#jumbotronV{
    background-image: url(https://as01.epimg.net/meristation/imagenes/2020/12/15/noticias/1608024138_504427_1608024822_noticia_normal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
    object-fit: fill;
    width: 100%;
    border-radius: 18px;
}

#overflowid3{
    overflow: "scroll";
    width: "1270px";
    height: "300px";
    overflow-x:scroll;
    overflow-y:hidden;
}

